@font-face {
   font-family: 'SFUIDisplay-Bold';
   font-display: swap;
   src: url('file:///C:/Users/Jasiel/AppData/Local/Temp/Mobirise20211019_173259/20211119_193343/fonts/SFUIDisplay-Bold/font.ttf');
}
