
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L,QSA]

<IfModule mod_rewrite.c>
RewriteCond %{HTTP_HOST} ^www.kalmix.github.io$
RewriteRule (.*) https://kalmix.github.io/$1 [R=301,L]
</IfModule>

ErrorDocument 404 /404.html
