html {
    cursor: url("data:image/svg+xml,%3Csvg height='6' width='6' viewBox='0 0 8 8' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' fill='%23eee' r='4'/%3E%3C/svg%3E") 3 3, auto;
  }
  
  
  
  
  .cursor {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: var(--width);
    z-index: 10000000000;
    height: var(--height);
    transform: translate(calc(var(--x) - var(--width) / 2), calc(var(--y) - var(--height) / 2));
    /* transition-duration: 125ms;
    transition-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-property: width, height, transform; */
    transition: 150ms width cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms height cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms transform cubic-bezier(0.39, 0.575, 0.565, 1);
    z-index: 1;
    pointer-events: none;
    will-change: transform;
  }
  @media (pointer: fine) {
    .cursor {
      display: block;
    }
  }
  .cursor::after {
    content: '';
    z-index: 10000000000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: var(--radius);
    border: 2px solid #7375ab;
    opacity: var(--scale);
    transform: scale(var(--scale));
    transition: 300ms opacity cubic-bezier(0.39, 0.575, 0.565, 1),
                300ms transform cubic-bezier(0.39, 0.575, 0.565, 1),
                150ms border-radius cubic-bezier(0.39, 0.575, 0.565, 1);
  }
  
  html:not(html:hover) .cursor::after {
    opacity: 0;
    transform: scale(0);
    z-index: 10000000000;
  }
  
  
  
  .btn {
    cursor: inherit;
  }
  .btn:hover {
    -webkit-text-decoration-line: none;
            text-decoration-line: none;
  }

  body {background-color: #232323 !important;}