body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Whyte-Super';
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Whyte-Super';
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Whyte-Super';
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Whyte-Super';
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Whyte-Super';
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #f0eb2c !important;
}
.bg-info {
  background-color: #ce1276 !important;
}
.bg-warning {
  background-color: #db4837 !important;
}
.bg-danger {
  background-color: #dc927f !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #f4f5f4 !important;
  border-color: #f4f5f4 !important;
  color: #6f7b6f !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #c7ccc7 !important;
  border-color: #c7ccc7 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #6f7b6f !important;
  background-color: #c7ccc7 !important;
  border-color: #c7ccc7 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ce1276 !important;
  border-color: #ce1276 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #7e0b48 !important;
  border-color: #7e0b48 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #7e0b48 !important;
  border-color: #7e0b48 !important;
}
.btn-success,
.btn-success:active {
  background-color: #f0eb2c !important;
  border-color: #f0eb2c !important;
  color: #1b1a02 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #b8b40d !important;
  border-color: #b8b40d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #1b1a02 !important;
  background-color: #b8b40d !important;
  border-color: #b8b40d !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #db4837 !important;
  border-color: #db4837 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #9f2a1d !important;
  border-color: #9f2a1d !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #9f2a1d !important;
  border-color: #9f2a1d !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #dc927f !important;
  border-color: #dc927f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #c9583b !important;
  border-color: #c9583b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #c9583b !important;
  border-color: #c9583b !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f4f5f4;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #c7ccc7 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #6f7b6f !important;
  background-color: #f4f5f4 !important;
  border-color: #f4f5f4 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ce1276;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #7e0b48 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ce1276 !important;
  border-color: #ce1276 !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #f0eb2c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #b8b40d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #1b1a02 !important;
  background-color: #f0eb2c !important;
  border-color: #f0eb2c !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #db4837;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #9f2a1d !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #db4837 !important;
  border-color: #db4837 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #dc927f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #c9583b !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #dc927f !important;
  border-color: #dc927f !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #f4f5f4 !important;
}
.text-success {
  color: #f0eb2c !important;
}
.text-info {
  color: #ce1276 !important;
}
.text-warning {
  color: #db4837 !important;
}
.text-danger {
  color: #dc927f !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #bfc4bf !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #aaa60c !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #700a40 !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #92271a !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #c05135 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ce1276;
}
.alert-warning {
  background-color: #db4837;
}
.alert-danger {
  background-color: #dc927f;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #fefdea;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #f8b4d8;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #fae6e4;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Whyte-Super';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Whyte-Super';
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #f4f5f4 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-sJZ27Jwv16 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sJZ27Jwv16 nav.navbar {
  position: fixed;
}
.cid-sJZ27Jwv16 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sJZ27Jwv16 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sJZ27Jwv16 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sJZ27Jwv16 .dropdown-item:hover,
.cid-sJZ27Jwv16 .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sJZ27Jwv16 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sJZ27Jwv16 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sJZ27Jwv16 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sJZ27Jwv16 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sJZ27Jwv16 .nav-link {
  position: relative;
}
.cid-sJZ27Jwv16 .container {
  display: flex;
  margin: auto;
}
.cid-sJZ27Jwv16 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sJZ27Jwv16 .dropdown-menu,
.cid-sJZ27Jwv16 .navbar.opened {
  background: #000000 !important;
}
.cid-sJZ27Jwv16 .nav-item:focus,
.cid-sJZ27Jwv16 .nav-link:focus {
  outline: none;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sJZ27Jwv16 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sJZ27Jwv16 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sJZ27Jwv16 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #000000;
}
.cid-sJZ27Jwv16 .navbar.opened {
  transition: all 0.3s;
}
.cid-sJZ27Jwv16 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sJZ27Jwv16 .navbar .navbar-logo img {
  width: auto;
}
.cid-sJZ27Jwv16 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sJZ27Jwv16 .navbar.collapsed {
  justify-content: center;
}
.cid-sJZ27Jwv16 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sJZ27Jwv16 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sJZ27Jwv16 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sJZ27Jwv16 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sJZ27Jwv16 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sJZ27Jwv16 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sJZ27Jwv16 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sJZ27Jwv16 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sJZ27Jwv16 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sJZ27Jwv16 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sJZ27Jwv16 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sJZ27Jwv16 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sJZ27Jwv16 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sJZ27Jwv16 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sJZ27Jwv16 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sJZ27Jwv16 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sJZ27Jwv16 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sJZ27Jwv16 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sJZ27Jwv16 .dropdown-item.active,
.cid-sJZ27Jwv16 .dropdown-item:active {
  background-color: transparent;
}
.cid-sJZ27Jwv16 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sJZ27Jwv16 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sJZ27Jwv16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sJZ27Jwv16 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-sJZ27Jwv16 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sJZ27Jwv16 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sJZ27Jwv16 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sJZ27Jwv16 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sJZ27Jwv16 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #b82660;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sJZ27Jwv16 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sJZ27Jwv16 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sJZ27Jwv16 .navbar {
    height: 70px;
  }
  .cid-sJZ27Jwv16 .navbar.opened {
    height: auto;
  }
  .cid-sJZ27Jwv16 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sJZ4sE9Vyr {
  padding-top: 0rem !important;
  padding-bottom: 0rem !important;
  background-color: #000000;
}
.cid-sJZ4sE9Vyr .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sJZ4sE9Vyr .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sJZ4sE9Vyr .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sJZ4sE9Vyr .mbr-section-title {
  color: black;
  -webkit-text-stroke: 1px white;
}
.cid-sJZ4sE9Vyr .mbr-text,
.cid-sJZ4sE9Vyr .mbr-section-btn {
  color: #f4f5f4;
}
.cid-sJZ4sE9Vyr .boldo {
  color: white;
}
.cid-sJZ4sE9Vyr body {
  height: 100vh;
  background: #010101;
  cursor: none;
  margin: 0;
  display: flex;
  font-family: monospace;
}
.cid-sJZ4sE9Vyr body h1,
.cid-sJZ4sE9Vyr body p,
.cid-sJZ4sE9Vyr body a {
  color: #fff;
}
.cid-sJZ4sE9Vyr body a {
  border-bottom: 2px solid #fff;
  padding: 10px 0;
  margin-top: 25px;
}
.cid-sJZ4sE9Vyr body .cursor {
  pointer-events: none;
}
.cid-sJZ4sE9Vyr body .cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cid-sJZ4sE9Vyr body .cursor__ball circle {
  fill: #f7f8fa;
}
.cid-sJZiDaCorE {
  padding-top: 6rem;
  padding-bottom: 0rem;
  background-color: #ce1276;
}
.cid-sJZiDaCorE .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sJZiDaCorE .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
.cid-sJZiDaCorE .mbr-section-title {
  color: #ffffff;
}
.cid-sJZiDaCorE .mbr-text,
.cid-sJZiDaCorE .mbr-section-btn {
  color: #ffffff;
}
.cid-sJZjAZK6xS {
  background-color: #ffffff;
}
.cid-sJZjAZK6xS .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-sJZjAZK6xS .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sJZjAZK6xS .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sJZjAZK6xS .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sJZjAZK6xS .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sJZmkzoiiC {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #48f9bf;
}
.cid-sJZmkzoiiC .row {
  align-items: center;
}
@media (max-width: 991px) {
  .cid-sJZmkzoiiC .image-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 992px) {
  .cid-sJZmkzoiiC .text-wrapper {
    padding: 0 2rem;
  }
}
.cid-sJZmkzoiiC .mbr-section-title {
  color: #dc927f;
}
.cid-sJZmkzoiiC .mbr-text,
.cid-sJZmkzoiiC .mbr-section-btn {
  color: #ffffff;
}
.cid-sJZngtNeWa {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-sJZngtNeWa .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-sJZngtNeWa .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-sJZngtNeWa .mbr-section-title {
  color: #9700f5;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #9700f5 2%, #3556fb 100%);
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-size: 1600px 200px;
}
@keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}
.cid-sJZngtNeWa .mbr-text,
.cid-sJZngtNeWa .mbr-section-btn {
  color: #ffffff;
}
.cid-sJZsiK9iSh {
  background-color: #ffffff;
}
.cid-sJZsiK9iSh .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-sJZsiK9iSh .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sJZsiK9iSh .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sJZsiK9iSh .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sJZsiK9iSh .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sJZtVV46Pl {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-sJZtVV46Pl .row {
  align-items: stretch;
  justify-content: center;
}
.cid-sJZtVV46Pl .row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
.cid-sJZtVV46Pl .row .img-item img {
  width: 100%;
  object-fit: cover;
  min-height: 1px;
}
.cid-sJZtVV46Pl P {
  color: #ffffff;
}
.cid-sK2K7ROryK {
  background-color: #ffffff;
}
.cid-sK2K7ROryK .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-sK2K7ROryK .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sK2K7ROryK .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
@media (min-width: 992px) {
  .cid-sK2K7ROryK .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sK2K7ROryK .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sK2ZqnQRsM {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #353535;
}
.cid-sK2ZqnQRsM .custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}
.cid-sK2ZqnQRsM .custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}
.cid-sK2ZqnQRsM * {
  cursor: none;
}
.cid-sJZAA8t8mG {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #353535;
}
.cid-sJZAA8t8mG .social-media {
  margin-top: 1.5rem;
}
.cid-sJZAA8t8mG .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-sJZAA8t8mG .social-media ul li {
  margin-right: 1.5rem;
  display: inline-block;
}
.cid-sJZAA8t8mG .mbr-list ul {
  margin: 0;
  padding: 0;
}
.cid-sJZAA8t8mG .mbr-list ul li {
  margin-bottom: 0.5rem;
}
.cid-sJZAA8t8mG ul {
  list-style: none;
}
.cid-sJZAA8t8mG hr {
  margin-top: 2rem;
}
.cid-sJZAA8t8mG .sub-info {
  margin-top: 2rem;
}
.cid-sJZAA8t8mG .card-support {
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}
.cid-sJZAA8t8mG .card-support li {
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  display: inline-block;
}
.cid-sJZAA8t8mG .card-support li img {
  width: auto;
}
.cid-sJZAA8t8mG .mbr-list,
.cid-sJZAA8t8mG .social-media UL {
  text-align: left;
}
.cid-sJZAA8t8mG .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sJZAA8t8mG .mbr-list,
  .cid-sJZAA8t8mG .mbr-section-title {
    text-align: center !important;
  }
  .cid-sJZAA8t8mG .social-media {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-sJZAA8t8mG .social-media ul li {
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .cid-sJZAA8t8mG .mbr-list {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-sJZAA8t8mG .list-column {
    margin-bottom: 2rem;
  }
  .cid-sJZAA8t8mG hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
.cid-sJZAA8t8mG .sub-info,
.cid-sJZAA8t8mG .card-support {
  color: #ffffff;
}
.cid-sJZAA8t8mG .mbr-list,
.cid-sJZAA8t8mG .social-media {
  color: #ffffff;
}
.cid-sJZ27Jwv16 {
  z-index: 1000;
  width: 100%;
  position: relative;
  min-height: 60px;
}
.cid-sJZ27Jwv16 nav.navbar {
  position: fixed;
}
.cid-sJZ27Jwv16 .dropdown-item:before {
  font-family: Moririse2 !important;
  content: "\e966";
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sJZ27Jwv16 .dropdown-menu {
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}
.cid-sJZ27Jwv16 .dropdown-item {
  border-bottom: 1px solid #e6e6e6;
}
.cid-sJZ27Jwv16 .dropdown-item:hover,
.cid-sJZ27Jwv16 .dropdown-item:focus {
  background: #6592e6 !important;
  color: white !important;
}
.cid-sJZ27Jwv16 .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.cid-sJZ27Jwv16 .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cid-sJZ27Jwv16 .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: 0.667em 1em !important;
}
.cid-sJZ27Jwv16 .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-sJZ27Jwv16 .nav-link {
  position: relative;
}
.cid-sJZ27Jwv16 .container {
  display: flex;
  margin: auto;
}
.cid-sJZ27Jwv16 .iconfont-wrapper {
  color: #000000 !important;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-sJZ27Jwv16 .dropdown-menu,
.cid-sJZ27Jwv16 .navbar.opened {
  background: #000000 !important;
}
.cid-sJZ27Jwv16 .nav-item:focus,
.cid-sJZ27Jwv16 .nav-link:focus {
  outline: none;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-sJZ27Jwv16 .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-sJZ27Jwv16 .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-sJZ27Jwv16 .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-sJZ27Jwv16 .navbar {
  min-height: 70px;
  transition: all 0.3s;
  border-bottom: 1px solid transparent;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  background: #000000;
}
.cid-sJZ27Jwv16 .navbar.opened {
  transition: all 0.3s;
}
.cid-sJZ27Jwv16 .navbar .dropdown-item {
  padding: 0.5rem 1.8rem;
}
.cid-sJZ27Jwv16 .navbar .navbar-logo img {
  width: auto;
}
.cid-sJZ27Jwv16 .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-sJZ27Jwv16 .navbar.collapsed {
  justify-content: center;
}
.cid-sJZ27Jwv16 .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-sJZ27Jwv16 .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-sJZ27Jwv16 .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3rem);
  }
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 41%;
}
.cid-sJZ27Jwv16 .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-sJZ27Jwv16 .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-sJZ27Jwv16 .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
@media (max-width: 991px) {
  .cid-sJZ27Jwv16 .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-sJZ27Jwv16 .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 40%;
  }
  .cid-sJZ27Jwv16 .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-sJZ27Jwv16 .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-sJZ27Jwv16 .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem !important;
    text-align: center;
  }
  .cid-sJZ27Jwv16 .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-sJZ27Jwv16 .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-sJZ27Jwv16 .navbar .icons-menu {
    padding-left: 0;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
.cid-sJZ27Jwv16 .navbar.navbar-short {
  min-height: 60px;
}
.cid-sJZ27Jwv16 .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-sJZ27Jwv16 .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-sJZ27Jwv16 .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-sJZ27Jwv16 .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-sJZ27Jwv16 .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-sJZ27Jwv16 .dropdown-item.active,
.cid-sJZ27Jwv16 .dropdown-item:active {
  background-color: transparent;
}
.cid-sJZ27Jwv16 .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-sJZ27Jwv16 .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-sJZ27Jwv16 .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-sJZ27Jwv16 .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-sJZ27Jwv16 .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-sJZ27Jwv16 .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-sJZ27Jwv16 ul.navbar-nav {
  flex-wrap: wrap;
}
.cid-sJZ27Jwv16 .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-sJZ27Jwv16 button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-sJZ27Jwv16 button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-sJZ27Jwv16 nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-sJZ27Jwv16 .navbar-dropdown {
  padding: 0 1rem;
  position: fixed;
}
.cid-sJZ27Jwv16 a.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-sJZ27Jwv16 .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-sJZ27Jwv16 .navbar {
    height: 70px;
  }
  .cid-sJZ27Jwv16 .navbar.opened {
    height: auto;
  }
  .cid-sJZ27Jwv16 .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-sJZvsERrtK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #000000;
}
.cid-sJZvsERrtK * {
  cursor: none;
}
.cid-sJZvsERrtK img,
.cid-sJZvsERrtK .item-img {
  width: 100%;
}
.cid-sJZvsERrtK .item:focus,
.cid-sJZvsERrtK span:focus {
  outline: none;
}
.cid-sJZvsERrtK .item {
  cursor: pointer;
  margin-bottom: 2rem;
  position: relative;
}
.cid-sJZvsERrtK .item-wrapper {
  position: unset;
  border-radius: 0px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}
@media (min-width: 992px) {
  .cid-sJZvsERrtK .item-wrapper .item-content {
    padding: 2rem 2rem 0;
  }
  .cid-sJZvsERrtK .item-wrapper .item-footer {
    padding: 0 2rem 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sJZvsERrtK .item-wrapper .item-content {
    padding: 1rem 1rem 0;
  }
  .cid-sJZvsERrtK .item-wrapper .item-footer {
    padding: 0 1rem 1rem;
  }
}
.cid-sJZvsERrtK .mbr-section-btn {
  margin-top: auto !important;
}
.cid-sJZvsERrtK .mbr-section-title {
  color: #ffffff;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #db4837 0%, #ce1276 100%);
  -webkit-text-fill-color: transparent;
  animation-duration: 3s;
  animation-name: animationgradienttitle;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  background-size: 1600px 200px;
}
@keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}
.cid-sJZvsERrtK .mbr-text,
.cid-sJZvsERrtK .mbr-section-btn {
  text-align: center;
}
.cid-sJZvsERrtK .item-title {
  text-align: center;
  color: #ce1276;
}
.cid-sJZvsERrtK .item-subtitle {
  text-align: left;
}
.cid-sJZvsERrtK .humanism {
  color: #db4837;
}
.cid-sJZxoZbWER {
  background-color: #d82390;
}
.cid-sJZxoZbWER .row {
  flex-direction: row-reverse;
}
@media (max-width: 991px) {
  .cid-sJZxoZbWER .image-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sJZxoZbWER .image-wrapper img {
  width: 100%;
  object-fit: cover;
  transition: all 1s ease;
}
@media (min-width: 992px) {
  .cid-sJZxoZbWER .text-wrapper {
    padding: 0 2rem;
  }
}
@media (max-width: 768px) {
  .cid-sJZxoZbWER .text-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sJZxoZbWER .mbr-section-title {
  color: #ffffff;
}
.cid-sJZxoZbWER .mbr-text,
.cid-sJZxoZbWER .mbr-section-btn {
  color: #000000;
}
.cid-sJZxoZbWER img:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}
.cid-sK2W27Pmop {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #353535;
}
.cid-sK2W27Pmop .custom-cursor {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%) scale(0.3);
  z-index: 1000;
}
.cid-sK2W27Pmop .custom-cursor--link {
  transform: translate(-50%, -50%) scale(1);
}
.cid-sK2W27Pmop * {
  cursor: none;
}
.cid-sJZAA8t8mG {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #353535;
}
.cid-sJZAA8t8mG .social-media {
  margin-top: 1.5rem;
}
.cid-sJZAA8t8mG .social-media ul {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.cid-sJZAA8t8mG .social-media ul li {
  margin-right: 1.5rem;
  display: inline-block;
}
.cid-sJZAA8t8mG .mbr-list ul {
  margin: 0;
  padding: 0;
}
.cid-sJZAA8t8mG .mbr-list ul li {
  margin-bottom: 0.5rem;
}
.cid-sJZAA8t8mG ul {
  list-style: none;
}
.cid-sJZAA8t8mG hr {
  margin-top: 2rem;
}
.cid-sJZAA8t8mG .sub-info {
  margin-top: 2rem;
}
.cid-sJZAA8t8mG .card-support {
  margin-top: 1.5rem;
  padding: 0;
  list-style: none;
}
.cid-sJZAA8t8mG .card-support li {
  margin-bottom: 0.4rem;
  margin-right: 0.4rem;
  display: inline-block;
}
.cid-sJZAA8t8mG .card-support li img {
  width: auto;
}
.cid-sJZAA8t8mG .mbr-list,
.cid-sJZAA8t8mG .social-media UL {
  text-align: left;
}
.cid-sJZAA8t8mG .mbr-section-title {
  text-align: left;
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-sJZAA8t8mG .mbr-list,
  .cid-sJZAA8t8mG .mbr-section-title {
    text-align: center !important;
  }
  .cid-sJZAA8t8mG .social-media {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-sJZAA8t8mG .social-media ul li {
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 1rem;
  }
  .cid-sJZAA8t8mG .mbr-list {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
  }
  .cid-sJZAA8t8mG .list-column {
    margin-bottom: 2rem;
  }
  .cid-sJZAA8t8mG hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
}
.cid-sJZAA8t8mG .sub-info,
.cid-sJZAA8t8mG .card-support {
  color: #ffffff;
}
.cid-sJZAA8t8mG .mbr-list,
.cid-sJZAA8t8mG .social-media {
  color: #ffffff;
}
