/* Hide Scrollbar and Scroll Functionality */
body.preloader-site {
    overflow: hidden;
}

/* Make the preloader take the whole screen and send it to the top layer */
.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #353535;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}

/* Center preloader and set preloader size */
.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
}