@font-face {
   font-family: 'Central W01 Bold';
   font-display: swap;
   src: url('file:///C:/Users/jasie/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-08-17_075357/fonts/Central%20W01%20Bold/font.ttf');
}
