@font-face {
   font-family: 'Recoleta-Black';
   font-display: swap;
   src: url('file:///C:/Users/Jasiel/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-24_154146/fonts/Recoleta-Black/font.ttf');
}
