@font-face {
   font-family: 'GT Walsheim Pro Bold Regular';
   font-display: swap;
   src: url('file:///C:/Users/jasie/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-06-05_064507/fonts/GT%20Walsheim%20Pro%20Bold%20Regular/font.ttf');
}
