@font-face {
   font-family: 'Futura Condensed Extra Bold';
   font-display: swap;
   src: url('file:///C:/Users/Jasiel/AppData/Local/Mobirise.com/projects/project-2021-09-23_182928/fonts/Futura%20Condensed%20Extra%20Bold/font.ttf');
}
