body::-webkit-scrollbar {
    width: 12px;
}

body {
    background-image: url(macfinale.png);
    background-size: cover;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

body::-webkit-scrollbar-track {
    background: white;
}

body::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid black;
}

.but {
    font-family: "San Bold";
    font-weight: bold;
}

.fill {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.fill::after {
    content: "";
    background-color: #000000;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
    border-radius: 10px;
}

.fill:hover::after {
    top: 0px;
    left: 0px;
}

.container {
    height: 200px;
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    margin: auto;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: move;
}

.mid {
    text-align: center;
    font-family: monospace;
    padding-top: 5px;
}

.containerd {
    height: 300px;
    position: relative;
    padding-top: 50px;
    z-index: 10000;
}

#d {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: inherit;
}

.icon {
    padding-right: 10px;
}

a {
    text-decoration: none;
}

span {
    line-height: 9px;
    vertical-align: middle;
}

.titlebar {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #ebebeb, color-stop(1.0, #d5d5d5)));
    background: -webkit-linear-gradient(top, #2e2f32, #141415);
    background: -moz-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -ms-linear-gradient(top, #ebebeb, #d5d5d5);
    background: -o-linear-gradient(top, #ebebeb, #d5d5d5);
    background: linear-gradient(top, #ebebeb, #d5d5d5);
    color: white;
    font-size: 11pt;
    line-height: 20px;
    text-align: center;
    width: 100%;
    cursor: move;
    height: 20px;
    border-top: 1px solid #2e2f32;
    border-bottom: 1px solid #141415;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor: default;
    font-family: "San Francisco";
}

.buttons {
    padding-left: 8px;
    padding-top: 3px;
    float: left;
    line-height: 0px;
}

.buttons:hover a {
    visibility: visible;
}

.close {
    background: #ff5c5c;
    font-size: 9pt;
    width: 11px;
    height: 11px;
    border: 1px solid #e33e41;
    border-radius: 50%;
    display: inline-block;
}

.close:active {
    background: #c14645;
    border: 1px solid #b03537;
}

.close:active .closebutton {
    color: #4e0002;
}

.closebutton,
.closebutton-contact {
    color: #820005;
    visibility: hidden;
    cursor: default;
}

.minimize {
    background: #ffbd4c;
    font-size: 9pt;
    /* line-height: 11px; */
    margin-left: 4px;
    width: 11px;
    height: 11px;
    border: 1px solid #e09e3e;
    border-radius: 50%;
    display: inline-block;
}

.minimize:active {
    background: #c08e38;
    border: 1px solid #af7c33;
}

.minimize:active .minimizebutton {
    color: #5a2607;
}

.minimizebutton,
.minimizebutton-contact {
    color: #9a5518;
    visibility: hidden;
    cursor: default;
}

.zoom {
    background: #00ca56;
    font-size: 9pt;
    /* line-height: 11px; */
    margin-left: 6px;
    width: 11px;
    height: 11px;
    border: 1px solid #14ae46;
    border-radius: 50%;
    display: inline-block;
}

.zoom:active {
    background: #029740;
    border: 1px solid #128435;
}

.zoom:active .zoombutton {
    color: #003107;
}

.zoombutton {
    color: #006519;
    visibility: hidden;
    cursor: default;
}

kbd {
    border: 1px solid lime;
    border-radius: 5px;
    padding: 5px;
}

object {
    margin-right: 6px;
}

.containerdx {
    height: 2px;
    position: relative;
    padding-top: 100px;
    z-index: 10000;
}


/* dock */

@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

@font-face {
    font-family: "San Bold";
    font-weight: 800;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

.dock {
    width: auto;
    height: 60px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10001;
}

.dock .dock-container {
    padding: 3px;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background: rgba(83, 83, 83, 0.25);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.dock .dock-container .li-bin {
    margin-left: 20px;
    border-left: 1.5px solid rgba(255, 255, 255, 0.4);
    padding: 0px 10px;
}

.dock .dock-container .li-1::after {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    content: "";
    bottom: 2px;
}

.dock .dock-container li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    vertical-align: bottom;
    transition: 0.2s;
    transform-origin: 50% 100%;
}

.dock .dock-container li:hover {
    margin: 0px 13px 0px 13px;
}

.dock .dock-container li .name {
    position: absolute;
    top: -70px;
    background: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    height: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    visibility: hidden;
    font-family: "San Francisco";
}

.dock .dock-container li .name::after {
    content: "";
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgba(0, 0, 0, 0.5);
}

.dock .dock-container li .ico {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.2s;
}

.dock .dock-container li .ico-bin {
    width: 94% !important;
    height: 94% !important;
    object-fit: cover;
    transition: 0.2s;
}

.dock .dock-container li .ico-bin:hover {
    margin-left: 10px;
}

.li-1:hover .name {
    visibility: visible !important;
}

.li-2:hover .name {
    visibility: visible !important;
}

.li-3:hover .name {
    visibility: visible !important;
}

.li-4:hover .name {
    visibility: visible !important;
}

.li-5:hover .name {
    visibility: visible !important;
}

.li-6:hover .name {
    visibility: visible !important;
}

.li-7:hover .name {
    visibility: visible !important;
}

.li-8:hover .name {
    visibility: visible !important;
}

.li-9:hover .name {
    visibility: visible !important;
}

.li-10:hover .name {
    visibility: visible !important;
}

.li-11:hover .name {
    visibility: visible !important;
}

.li-12:hover .name {
    visibility: visible !important;
}

.li-13:hover .name {
    visibility: visible !important;
}

.li-14:hover .name {
    visibility: visible !important;
}

.li-15:hover .name {
    visibility: visible !important;
}

.window {
    transition: all 0.2s;
}

.window-contact {
    transition: all 0.2s;
    opacity: 0;
}


/* Hide Scrollbar and Scroll Functionality */

body.preloader-site {
    overflow: hidden;
}


/* Make the preloader take the whole screen and send it to the top layer */

.preloader-wrapper {
    height: 100%;
    width: 100%;
    background: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999;
}


/* Center preloader and set preloader size */

.preloader-wrapper .preloader {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
}

#app {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: inherit;
}

.root {
    color: rgba(172, 172, 172);
}

.center-contact {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 20%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: move;
}