@font-face {
   font-family: 'Helvetica';
   font-display: swap;
   src: url('file:///C:/Users/jasie/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-19_090429/fonts/Helvetica/font.ttf');
}
