@font-face {
   font-family: 'TuskerGrotesk-6800Super';
   font-display: swap;
   src: url('file:///C:/Users/jasie/AppData/Local/Mobirise.com/Mobirise/projects/project-2022-11-19_090429/fonts/TuskerGrotesk-6800Super/font.ttf');
}
