@font-face {
   font-family: 'Whyte-Super';
   font-display: swap;
   src: url('file:///C:/Users/Jasiel/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-09-24_214206/fonts/Whyte-Super/font.ttf');
}
